
<h2> <%= "CRM"  %><%=" : #{@project.name}" if @project.present?  %> </h2>
<div id="companies_index" ng-app="contacts">

<div ng-controller="CompaniesController as companiesCtrl">
  <table>
    <tr ng-repeat="company in companiesCtrl.companies">
      <td>{{company.name}}</td>
    </tr>
  </table>
</div>





</div>