tr.companyheader, th.companyheader{
    border: 1px dotted darkslategrey;
    font-weight: bold;
}
tr.contactheader, th.contactheader{
    border: 1px ridge darkslategrey;
    font-weight: bold;
}

#comment-container{

    border: 1px lightgray groove;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: beige;
    padding: 2px 4px;
}

#comment-header{
    font-weight: bold;
    font-style: italic;
}

#comment-body{

}

.form_align{
    text-align: right;
    float:left;
    margin: 10px;
}

.form_action{
    clear: both;
}

.customertable{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding-left: 5px;
    border: 1px ridge darkslategrey;
}

.customertable th{

}
.customertable tr:hover{
   background-color: lightblue;
}

.customertable tr:nth-child(odd){
    background-color: beige;
}
.customertable tr:nth-child(odd):hover{
    background-color: lightblue;
}

.tags{
    background-color: silver;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px;
    display: inline-block;
    font-size: 10px;
    margin: 0px 0px 5px 2px;
}

.tags:hover{
    background-color: orange;
}

.desc_label{
    text-align: left;
    font-weight: bold;
}

.desc_attribute{
    text-align: left;
    padding: 5px;
}