tr.companyheader, th.companyheader{
    border: 1px dotted darkslategrey;
    font-weight: bold;
}
tr.contactheader, th.contactheader{
    border: 1px ridge darkslategrey;
    font-weight: bold;
}

#add-company-to-actions{
    position: fixed;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 50%;
    z-index: 10;
    background-color: rgba(50,150,200,0.5);
    border: groove 2px rgba(0,0,0,1);
}

#add-company-to-actions ul{
    list-style:none;
}

#add-company-to-actions li{
    float:left;
    margin:0.3em;
}
#comment-container{

    border: 1px lightgray groove;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: beige;
    padding: 2px 4px;
}

#comment-header{
    font-weight: bold;
    font-style: italic;
}

#comment-body{

}

.form_align{
    text-align: right;
    float:left;
    margin: 10px;
}

.form_action{
    clear: both;
}

.customertable{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding-left: 5px;
    border: 1px ridge darkslategrey;
}

.customertable th{

}
.customertable tr:hover{
   background-color: lightblue;
}

.customertable tr:nth-child(odd){
    background-color: beige;
}
.customertable tr:nth-child(odd):hover{
    background-color: lightblue;
}

.tags{
    background-color: silver;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px;
    display: inline-block;
    font-size: 10px;
    margin: 0px 0px 5px 2px;
}

.tags:hover{
    background-color: orange;
}

.desc_label{
    text-align: left;
    font-weight: bold;
}

.desc_attribute{
    text-align: left;
    padding: 5px;
}

.align-right{
  text-align: right;
  padding: 0.3em;
}

.company_quick_detail{
    display: table-cell;
    width: 10%;
}

.company_header{
    font-weight: bold;
    border-bottom: 1px solid darkslategray;
}
.company_name{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.company_item{
    border-bottom: 1px solid darkslategray;
    #display: table;
    #width:70%;
    padding: 0.4em;
    margin-top: 0.4em;
}
.company_item:hover{
    background-color: azure;
}
.company_item_cell{
    #display: table-cell;
    #width: 10%;
}
.dragdropbox{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px;
    background-color: white;
}
.list_item{
    background-color: silver;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 10px;
    margin: 0px 0px 5px 2px;
}
.list_item:hover{
    background-color: orange;
}

.tabular{
    display: table;
}

.table_item{
    display: table-cell;
    padding: 2px 4px;
}

.nav_bar_actions{
    list-style: none;
}
.nav_bar_actions li{
    float:left;
    margin-left: 0.4em;
    background-color: lightcyan;
    border: 1px solid cornflowerblue;
    border-radius: 0.2em;
}

.clear-fix{
    clear:both;
}

.button-symbolic{
    #color: white;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0.2em;
    padding: 2px;
}

input{
    margin: 0.3em;
    border-style: groove;
    border-radius: 5px;
    padding: 2px;
}
