<% content_for :header_tags do %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
  <%= javascript_include_tag 'angular/crm_app',
                             'angular/directives/companies_directive',
                             'angular/services/companies_service',
                             :plugin => 'redmine_crm' %>
<% end %>
<div ng-app="contacts">
  <h2>Kontaktinformationen</h2>
  LAUF LAUF LAUF!!!
  test: {{"test"}}
  <companies></companies>
</div>